
* {
    box-sizing: border-box;
}

#wrapper{
    width: 100%;
    /*margin: 0 auto;*/
    text-align: center;
}
.quote-element {
    width: 100px;
    /*float: left;*/
    display: inline-block;
    zoom: 1;

}
.quote-element{
    width: 100%;
    display: block;
    overflow: hidden;
}
.logo{
    width:200px
}
.header{
    width: 100%;
    padding: 5px 10px;
}
.block {
    display: inline-block;
    width: 19%;
    border: 1px solid grey;
    height: 200px;
    vertical-align: top;
}
